h1 {
  color: black;
  font-family: 'Cormorant Unicase', serif;
text-align: center;

}
html{
    background-color:#8FA25B;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Cormorant Unicase', serif;
}
.topnav a:visited{
color: white;
  text-decoration: none;
  font-size: 17px;
}
.topnav a{
    color: white;
  text-decoration: none;
  font-size: 17px;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
